.container {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  max-width: 500px;
  width: 100%;
  position: relative;
  padding: 230px 30px 30px;
  box-sizing: border-box;

  &::before {
    content: "";
    background: url('../../assets/invitationCard.jpg');
    height:100%;  
    position: absolute;
    min-width: 500px;
    width:100%;
    z-index: -1;
    left: 0;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.partyInfo {
  color: #FFF
}

.data {
  font-size: 18px;
  font-weight: bold;
}

.title {
  font-size: 24px;
  margin: 0;
  text-align: center;
  width: 100%;
}
