.container {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  max-width: 490px;
  width: 100%;
  position: relative;
  padding: 230px 55px 10px;
  box-sizing: border-box;

  &::before {
    content: "";
    background: url('../../assets/invitationCard.jpg');
    height:100%;  
    position: absolute;
    min-width: 500px;
    width:100%;
    z-index: -1;
    left: 0;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.partyInfo {
  color: #FFF
}

.data {
  font-size: 18px;
  font-weight: bold;
}

.title {
  color: #b0d6f5;
  font-size: 24px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.footer {
  padding-right: 30px;
  position: relative;
  text-align: right;
  width: 100%;

  &::after {
    content: "";
    background: url('../../assets/crystlLogo.png');
    bottom: 0;
    height: 30px;
    position: absolute;
    right: 0;
    width: 30px;
    background-size: cover;
  }
}
