.container {
  display: grid;
  grid-column-gap: 10%;
  grid-template-areas: 
    "fields invitationCard"
    "button button";
  grid-template-columns: 45% 45%;
  grid-template-rows: 85% 15%;
  width: 100%;
}

.fields {
  display: flex;
  flex-direction: column;
  grid-area: fields;
  justify-content: space-between;
}

.invitationCard {
  grid-area: invitationCard;
  height: 100%;
  justify-self: end;
}

.submit {
  align-self: end;
  grid-area: button;
  grid-column: span 2;
}
