.logo {
  bottom: 10px;
  height: 200px;
  position: fixed;
  right: 10px;
}

@media (max-width: 1200px) {
  .logo {
    height: 150px;
  }
}

@media (max-width: 800px) {
  .logo {
    display: none;
  }
}
