* {
  font-family: Kanit, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(90deg, rgb(147, 104, 171) 0%, rgb(97, 137, 171) 100%);
  background-image: linear-gradient(90deg, rgb(147, 104, 171) 0%, rgb(97, 137, 171) 100%);
}

.appContainer {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 120px 200px 150px;
}

@media (max-width: 1200px) {
  .appContainer {
    padding: 120px 120px 150px;
  }
}

@media (max-width: 800px) {
  .appContainer {
    padding: 120px 30px 50px;
  }
}
